/* обнуление */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  color: #252b42;
  font-weight: 500;
  font-size: 14px;
  background: #fafafa;
  font-family: Montserrat;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0px 15px; /* Отступ безопасности*/
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* -----------------------------Header---------------------------------- */

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  margin: 0px 133px 0px 0px;
}

.header__menu {
}

@media (max-width: 992px) {
  .header__logo {
    margin: 0px 80px 0px 0px;
  }
}

@media (max-width: 767px) {
  .header__logo {
    margin: 0px 40px 0px 0px;
  }
}

@media (max-width: 479px) {
  .header__logo {
    margin: 0px 20px 0px 0px;
  }
}

.menu {
  padding: 5px 0; /* Чтобы меню не прижималось вверху*/
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.menu__link {
  color: #737373;
  line-height: 171%;
  font-weight: 600;
}

@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}

/* ----------------------------------------PAGE----------------------------------------- */

.page {
  flex: 1 1 auto;
}

.page__main-block {
}

.page_services {
  position: relative;
  z-index: 2;
  margin-top: -111px;
}

.page__advantages {
}

.page__practice {
}

.page__whoweare {
}

.page__clients {
  margin: 0px 0px 10px 0px;
}

.page__subscribe {
}

.page__getintouch {
}

.page__contactus {
}


/* --------------------------------------HEADER-BLOCK----------------------------------- */
.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}

.header-block__title {
  font-size: 40px;
  line-height: 142.5%;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}

@media (max-width: 992px) {
  .header-block__title {
    font-size: 30px;
  }
}

.header-block__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.header-block__sub-title {
  line-height: 142.8%;
  color: #737373;
}
/* ----------------------------------------MAIN BLOCK------------------------------------ */

.main-block {
  position: relative;
}

.main-block__container {
}

.main-block__body {
  max-width: 400px;
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0px 191px 0px;
  }
}

@media (max-width: 479px) {
  .main-block__body {
    padding: 115px 0px 160px 0px;
  }
}

.main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}

.main-block__title {
  font-size: 58px;
  font-weight: 800;
  line-height: 137%;
  letter-spacing: 0.2;
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}

.main-block__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (max-width: 479px) {
  .main-block__text {
    color: #3a3636;
  }
}

.main-block__buttons {
  display: inline-flex;
  flex-wrap: wrap;
  margin: -10px 0px;
}

.main-block__button {
  border-radius: 37px;
  display: flex;
  min-height: 48px;
  align-items: center;
  justify-content: center;
  padding: 5px 36px;
  text-align: center;
  font-weight: 700;
  line-height: 150%;
  margin: 10px 0;
}

@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 100%;
  }
}

@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}

.main-block__button--orange {
  background: #ff7b47;
  color: #fff;
}

.main-block__button--border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image img {
    opacity: 0.5;
  }
}

/* --------------------------------------Services---------------------------------------- */

.services {
}

.sevices__container {
}

.services__body {
}

@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}

.services__column {
  flex: 0 1 33.333%;
}

@media (min-width: 670px) {
  .services__column {
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }
  .services__column:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .services__column:last-child {
    flex: 0 1 100%;
  }
}

.services__item {
}

.item-service {
  height: 100%;
  padding: 35px;
  background: #ffffff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

@media (max-width: 479px) {
  .item-service {
    padding: 25px;
  }
}

.item-service--green {
  background: #0d5c63;
}

.item-service--green .item-service__title {
  color: #fff;
}

.item-service > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.item-service__icon {
}

.item-service__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
}

.item-service__text {
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

/* -----------------------------------Advantages------------------------------------- */

.advantages {
  padding: 80px 0px;
}

@media (max-width: 992px) {
  .advantages {
    padding: 50px 0px;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 50px 0px;
  }
}

.advantages__container {
}

.advantages__header {
  margin: 0 0 50px 0;
}

@media (max-width: 767px) {
  .advantages__header {
    margin: 0 0 25px 0;
  }
}

.advantages__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px -15px -30px;
}

.advantages__column {
  flex: 0 1 25%;
  margin: 0px 0px 30px 0px;
  padding: 0px 15px;
}

@media (max-width: 1020px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 560px) {
  .advantages__column {
    flex: 0 1 100%;
  }
}

.advantages__item {
  background-color: #fff;
  padding: 35px;
  text-align: center;
  height: 100%;
}

.advantages__item > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.advantages__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.advantages__icon img {
  height: 100%;
  width: 100%;
}

.advantages__value {
  font-size: 40px;
  line-height: 142%;
  font-weight: bold;
}

.advantages__text {
  font-size: 16px;
  line-height: 1.5;
  color: #737373;
  letter-spacing: 0.1px;
}

/* ------------------------------------------PRACTICE-------------------------------------------- */

.practice {
  padding: 125px 0px 80px 0px;
}

@media (max-width: 993px) {
  .practice {
    padding: 40px 0px 80px 0px;
  }
}

@media (max-width: 767px) {
  .practice {
    padding: 0px 0px 40px 0px;
  }
}

.practice__container {
}

.practice__header {
  margin: 0 0 45px 0;
}

@media (max-width: 767px) {
  .practice__header {
    margin: 0 0 25px 0;
  }
}

.practice__body {
  margin: 0px -20px -30px;
  display: flex;
  flex-wrap: wrap;
}

.practice__column {
  padding: 0 20px;
  flex: 0 1 25%;
  margin: 0px 0px 30px 0px;
}

@media (max-width: 1050px) {
  .practice__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 630px) {
  .practice__column {
    flex: 0 1 100%;
  }
}

.practice__item {
}

.item-practice {
  background-color: #fff;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}

.item-practice__link {
  color: inherit;
  display: block;
}

.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__link:not(:last-child) {
  margin: 0 0 15px 0;
}

.item-practice__title {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  font-weight: 700;
}

.item-practice__text {
  font-size: 14px;
  line-height: 143%;
  color: #737373;
  letter-spacing: 0.2px;
}

.item-practice__image {
  display: block;
  padding: 0px 0px 60% 0px;
}

/* -----------------------------------------WHOWEARE---------------------------------------- */

.whoweare {
  background: #fff;
  padding: 80px 0px 130px 0px;
}

.whoweare__container {
}

.whoweare__header {
  padding: 0px 0px 100px 0px;
}

.whoweare__body {
  display: flex;
  align-items: flex-start;
}

.whoweare__video {
  position: relative;
  flex: 0 0 57%;
  padding: 0px 0px 42.25% 0px;
}

.whoweare__video iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0px 0px 121px;
}

.whoweare__top:not(:last-child) {
  margin: 0px 0px 50px 0px;
}

.whoweare__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}

.whoweare__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.whoweare__text {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
}

.whoweare__items {
}

.whoweare__item {
  display: flex;
}

.whoweare__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.item-whoweare {
}

.item-whoweare__icon {
  flex: 0 0 32px;
}

.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}

.item-whoweare__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252b42;
}

.item-whoweare__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.item-whoweare__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  color: #737373;
  letter-spacing: 0.2px;
}

@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0px 0px 0px 50px;
  }
}

@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0px 50px 0px;
  }

  .whoweare__title {
    font-size: 24px;
  }

  .whoweare__content {
    padding: 0px 0px 0px 0px;
  }

  .whoweare__video {
    padding: 0px 0px 56.25% 0px;
  }

  .whoweare__video:not(:last-child) {
    margin: 50px 0px 0px 0px;
  }

  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .whoweare__header {
    padding: 0px 0px 30px 0px;
  }
}

@media (max-width: 767px) {
  .whoweare {
    padding: 20px 0px 50px 0px;
  }

  .whoweare__top:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .whoweare__video:not(:last-child) {
    margin: 30px 0px 0px 0px;
  }
}

/* ----------------------------------------------CLIENTS----------------------------------------------- */


.clients {
  padding: 50px 0px;
}

@media (max-width: 767px) {
  .clients {
    padding: 30px 0px;
  }
}
.clients__container {
}

.clients__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.clients__item {
  flex: 0 1 16.6667%;
  padding: 8px 15px;
  text-align: center;
  min-width: 140px;
}

.clients__item img {
  max-width: 100%;
}

/* -------------------------------------------SUBSCRIBE------------------------------------------------- */


.subscribe {
  position: relative;
  padding-bottom: 20px;
}

.subscribe::before {
  content: "";
  position: absolute;
  background: #252B42;
  left: 0;
  bottom: 0;
  height: 77px;
  width: 100%;
}

.subscribe__container {

}

.subscribe__body {
  position: relative;
  z-index: 2;
  background: #17213C;
  padding: 30px 50px;
  border-radius: 2px;
}

@media (min-width: 1070px) {
  .subscribe__body{
    margin: 0px 30px;
  }
}

.subscribe__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133% ;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}

@media (min-width: 810px) {
  .subscribe__body{
    display: flex;
    justify-content: space-between;
   }

   .subscribe__title {
    max-width: 266px;
  }
}


@media (max-width: 810px) {
  .subscribe__title {
    margin: 0px 0px 20px 0px;
   }

   .subscribe__body{
    padding: 15px 25px;
    margin:0px -15px
  }
}

.subscribe__form {
  display: flex;
  flex: 0 1 50%;

}

.subscribe__input {
  flex: 1 1 auto;
  width: 100%;
  padding-left:20px;
  background: #F9F9F9;
  min-height: 58px;
  border-radius: 5px;
  border-right: 0;
  border-radius: 5px 0px 0px 5px;
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__input:focus {
  color: #000;
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 58px;
  padding: 5px 22.5px;
  line-height: 200%;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  background: #FF7B47;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
}

/* ----------------------------------------------------GETINTOUCH------------------------------------------- */


.getintouch {
  padding: 80px 0px 136px 0px;
}

.getintouch__container {
}

.getintouch__header {
  margin: 0px 0px 80px 0px;
}

.getintouch__items {
  margin: 0px -15px;
}


.item-getintouch {
  display: flex;
  padding: 50px 15px;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.item-getintouch--active {
  color: #fff;
  background: #252B42;
  padding: 80px 15px;
}

.item-getintouch--active .item-getintouch__button {
  border: 1px solid #fff;
  color: #fff;
}

.item-getintouch > *:not(:last-child){
  margin: 0px 0px 15px 0px;
}

.item-getintouch__icon {
  width: 39px;
}

.item-getintouch__icon img {
  width: 100%;
}

.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-getintouch__email {
  font-weight: 600;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.2px;
  color: inherit;
}

.item-getintouch__email:hover {
  text-decoration: underline ;
}

.item-getintouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1px;
}

.item-getintouch__button {
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center ;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  padding: 5px 20px;
  border: 1px solid #FF7B47;
  border-radius: 5px;
  color: #FF7B47;
  transition: all 0.3s ease;
}

.item-getintouch__button:hover {
  background:  #FF7B47;
  color: #fff;

}

@media (max-width: 992px) {
  .getintouch {
    padding: 50px 0px;
  }
  
  .getintouch__header {
    margin: 0px 0px 50px 0px;
  }

  .item-getintouch--active {
    padding: 50px 15px;
  }
}

@media (max-width: 767px) {
  .getintouch__header {
    margin: 0px 0px 30px 0px;
  }
}

@media (min-width: 992px) {
  .getintouch__items {
    display: flex;
    align-items: center;
    margin:0;
  }

  .getintouch__item {
    flex: 0 1 33.333%;
  }
}

/* -------------------------------------------------CONTACTUS---------------------------------------------- */

.contactus {
  background-color: #fff;
}

.contactus__container {
}


.contactus__body {
  padding: 40px 0px;
  margin: 0px 0px -10px 0px;

}

.contactus__content {
  padding: 0px 0px 20px 0px;
}

.contactus__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
}

.contactus__title:not(:last-child){
  margin: 0px 0px 10px 0px;

}

.contactus__text {
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.contactus__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  background: #FF7B47;
  border-radius: 5px;
  min-height: 58px;
  padding: 5px 40px;
  transition: background-color 0.3s ease;
}

.contactus__button:hover {
  background: #d65420;
}


@media (min-width: 767px) {
  .contactus__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .contactus__content {
    padding: 0px 20px 0px 0px;
  }
}




